@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: .375rem;
}

::-webkit-scrollbar-track {
  background: #caa169;
}

::-webkit-scrollbar-thumb {
  background:  #021832;
} 

section {
  padding: 3.125rem 0;
}

.main-btn {
  font-size: 1rem;
  font-weight: 500;
  color:  #fff;
  text-transform: none;
  background-color: transparent;
  border: .0625rem solid #fff;
  padding: .375rem 1.875rem;
  border-radius: 3.125rem;
  line-height: 1.75rem;
  display: inline-block;
  transition: all 0.3s ease-out 0s;
}

.main-btn:hover {
  background-color: #006C67  ;
  border-color: #fff;
  color: #fff;
}

h1 {
  font-size: 2.75rem;
  line-height: 4.25rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.25rem;
  text-transform: none;
  font-family: 'Oswald', sans-serif;
}

h3 {
  margin-bottom: 1.875rem;
  line-height: 2.875rem;
  font-weight: 700;
  font-size: 2.25rem;
  color: #021832;
  font-family: 'Oswald', sans-serif;
}

h3 span {
  color: #e58f00;
}

h5 {
  font-size: 1.5rem;
  line-height: 1;
  color: #e58f00;
  margin-bottom: .9375rem;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;

}
.col-lg-6 span{
  font-size: 1.5rem;
  line-height: 1;
  color: #e58f00;
  margin-bottom: .9375rem;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

h6 {
  font-size: .875rem;
  color: #021832;
  margin-bottom: .9375rem;
  text-transform: none;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 1rem;
  
  line-height: 1.625rem;
}
.header_wrapper .navbar {
  padding: .9375rem 0;
  background-color: transparent;
  
  -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
  transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
  
}
.header_wrapper .navbar-brand img{
  width: 40px;
}

.header_wrapper .navbar-toggler {
  border: 0;
  color: white;
  line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item {
  margin: 0 .625rem;
}

.header_wrapper .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color:  #fff;
  display: inline-block;
  text-transform: none;
}


.header_wrapper .nav-item .nav-link:hover {
  color: #006C67;
}
.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #e58f00;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

.carousel-item{
  height: 60vh;
  
}
.carousel-item img{
  height: 60vh;
}

.carousel-caption{
  bottom: 150px;
  z-index: 2;
}
.carousel-caption h5{
  font-size: 40px;
  text-transform: none;
  letter-spacing: 1px;
  margin-top: 25px;
  color: #fff;
}
.carousel-caption p{
  width: 60%;
  color: #fff;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}


.about_wrapper {
    padding-top: 5.375rem;
}
.about_wrapper h5{
    font-size: 30px;
  text-transform: none;
  letter-spacing: 2px;
  margin-top: 25px;
 
}
.container-fluid h5{
  font-size: 1.5rem;
      line-height: 1;
      color: #021832;
      margin-bottom: .5375rem;
      
      font-weight: 500;
      font-family: 'Oswald', sans-serif;
      
}


.table .thead-dark th{
  background-color: #e58f00;
  color: #fff;
}
.table  {
  background-color: #006C67;
}
.table td{
  color: #fff;
}
.table th{
  color: #fff;
}
.rooms h3{
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}

.rooms .row{
    margin-bottom: 40px;
  }
  .rooms .container .main-btn{
    
    margin-left: 480px;
    font-size: 1rem;
    font-weight: 500;
    color: #021832;
    text-transform: none;
    background-color: transparent;
    border: .0625rem solid black;
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
  }
  .rooms .container .main-btn:hover{
    background-color: #932316  ;
    border-color: #caa169;
    color: #fff;
  }
  .rooms h5{
    
      font-size: 1.5rem;
      line-height: 1;
      color: #021832;
      margin-bottom: .5375rem;
      margin-left: 150px;
      font-weight: 500;
      font-family: 'Oswald', sans-serif;
      text-decoration: underline;
    
    
  }
  
  
  .hovereffects{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 10px;
  }
  
  .hovereffects .overlay{
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   opacity: 0;
   background-color: rgba(0,0,0,0.5);
   -webkit-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out
  }
  
  .hovereffects img{
   display: block;
   position: relative;
   -webkit-transition: all .4s linear;
   transition: all .4s linear;
  }
  
  .hovereffects h2{
   text-transform: none;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   background: rgba(0,0,0,0.6);
   -webkit-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   padding: 10px;
   margin-top: 50px;
   
  }
  
  .hovereffects p{
    text-transform: none;
    color: #fff;
    margin: 60px 0 0;
  }
  
  .hovereffects a.info{
   text-decoration: none;
   display: inline-block;
   text-transform: none;
   color: #fff;
   border:.0625rem solid black;
   background-color: transparent;
   opacity: 0;
   filter: alpha(opacity=0);
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   margin: 60px 0 0;
   padding: 7px 14px;
  }
  
  .hovereffects a.info:hover{
   box-shadow: 0 0 5px #fff;
  
  }
  
  .hovereffects:hover img{
   -ms-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
  }
  
  .hovereffects:hover .overlay{
   opacity: 1;
   filter: alpha(opacity=100);
  }
  
  .hovereffects:hover h2, .hovereffects:hover a.info{
   opacity: 1;
   filter: alpha(opacity=100);
   -ms-transform: translateY(0);
   -webkit-transform: translateY(0);
   transform: translateY(0);
  }
  
  .hovereffects:hover a.info{
   -webkit-transition-delay: .2s;
   transition-delay: .2s;
  }

  footer {
    padding-top: 30px;
    background-color: #e58f00;
}

.footer-top {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer img{
    width: 80px;
}


footer li,
footer p,
footer a {
    color: #fff;
}

footer a:hover {
    color: #006C67;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #006C67;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: white;
    color: #006C67;
}
  
  @media (max-width: 1199px) {
    
    /* header */
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
        font-size: .875rem;
    }
  
    .main-btn {
        font-size: .875rem;
    }
    .carousel-item{
      height: 60vh;
      
    }
    .carousel-item img{
      height: 60vh;
      object-fit: cover;
    }
    .carousel-caption{
    bottom: 220px;
    z-index: 2;
  }
  .carousel-caption{
    bottom: 170px;
  }
  .carousel-caption h5{
    font-size: 25px;
  }
  .carousel-caption p{
    width: 100%;
    font-size: 20px;
  }
  .footer>div {
    padding: 0 1.875rem;
}
  
  }
  
  @media (max-width:991px) {
    
    /* custom css */
    section {
        padding: 1.875rem 0;
    }
  
    /* 2 Navbar */
    .header-scrolled {
        height: auto;
    }
  
    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: .9375rem;
    }
  
    .header_wrapper .nav-item .nav-link {
        margin-top: .9375rem;
    }
    .carousel-item{
      height: 60vh;
      
    }
    .carousel-item img{
      height: 60vh;
      object-fit: cover;
    }
    .carousel-caption{
      bottom: 170px;
    }
    .carousel-caption h5{
      font-size: 25px;
    }
    .carousel-caption p{
      width: 100%;
      font-size: 20px;
    }
    .footer>div {
      padding: 0 1.875rem;
  }
  
    
  
  }
  @media (max-width:991px) {
  
    /* custom css */
    section {
        padding: 1.875rem 0;
    }
  
    /* 2 Navbar */
    .header-scrolled {
        height: auto;
    }
  
    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: .9375rem;
    }
  
    .header_wrapper .nav-item .nav-link {
        margin-top: .9375rem;
    }
  
    /* banner wrapper */
    .banner_wrapper {
        height: 25.625rem;
    }
    .footer>div {
      padding: 0 1.875rem;
  }
  
  
    }
  
     
    @media (max-width: 767px) {
    
      /* custom css */
      h1 {
          font-size: 1.875rem;
          line-height: 2.5rem;
      }
    
      h3 {
          font-size: 1.75rem;
          line-height: 2.1875rem;
      }
    
      h5 {
          font-size: 1.25rem;
      }
    
      p {
          font-size: .8125rem;
          line-height: 1.5rem;
      }
      .carousel-item{
        height: 60vh;
        
      }
      .carousel-caption{
        bottom: 170px;
      }
      .carousel-caption h5{
        font-size: 25px;
      }
      .carousel-caption p{
        width: 100%;
        font-size: 20px;
      }
      .carousel-item img{
        height: 60vh;
        object-fit: cover;
      }
      .footer>div {
        padding: 0 1.875rem;
    }
     
    
     
    }
    @media (max-width: 424px){
      .carousel-item{
        height: 50vh;
        
      }
      .carousel-item img{
        height: 50vh;
        object-fit: cover;
      }
      .carousel-caption{
        bottom: 120px;
      }
      .carousel-caption p{
        width: 100%;
        font-size: 13px;
      }
      .copyright p{
        font-size: 12px;
        text-align: center;
      }
      .footer>div {
        padding: 0 1.875rem;
    }
    .rooms h5{
      margin-left: 30px;
      margin-bottom: 0;
    }
      
    }